[submodule "fonts/Font-Awesome"]
	path = fonts/Font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome
[submodule "fonts/ubuntu-mono-powerline-ttf"]
	path = fonts/ubuntu-mono-powerline-ttf
	url = https://github.com/pdf/ubuntu-mono-powerline-ttf.git
[submodule "lib/spark"]
	path = lib/spark
	url = https://github.com/holman/spark.git
[submodule "lib/fasd"]
	path = lib/fasd
	url = https://github.com/clvv/fasd.git
