[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:xgarrido/emacs24-starter-kit.git
[submodule "fonts/Font-Awesome"]
	path = fonts/Font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome
