pc       -fstype=fuse,port=22,rw,allow_other :sshfs\#garrido@pc-91089.lal.in2p3.fr\:/
nemo     -fstype=fuse,port=22,rw,allow_other :sshfs\#garrido@lx3.lal.in2p3.fr\:/exp/nemo
data     -fstype=fuse,port=22,rw,allow_other :sshfs\#garrido@lx3.lal.in2p3.fr\:/data/nemo/data
weblal   -fstype=fuse,port=22,rw,allow_other :sshfs\#garrido@lx3.lal.in2p3.fr\:/htdocs/projets/nemo-xg
mac      -fstype=fuse,port=22,rw,allow_other :sshfs\#garrido@mac-garrido\:/Users/garrido
syno     -fstype=fuse,port=22,rw,allow_other :sshfs\#garrido@xgarrido.synology.me\:
owncloud -fstype=davfs,rwuid=1000,gid=100    :https\://owncloud.lal.in2p3.fr/remote.php/webdav/
